#searchCountrie{
    display: block;
}
body { 
    margin: 0; padding: 0; 
}
#divmap { 
    width: 600px;
    margin-top: 10px;
 }

#map { 
    display: inline;
    top: 50px; 
    bottom: 0;
     width: 100%;
 }

 .divParent{
    background-color: hsl(120deg 48% 61% / 32%);
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: baseline;
     align-content: stretch;
     padding-bottom: 300px;
 
      
    
 }

 .divChild{
    background-color: rgb(121 98 121 / 54%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 150px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.imgFav{
   width: 50px;
}

.principal {
    background-color: chartreuse;
}



@media screen and (max-width: 620px) {
    .mapboxgl-canvas {
        
        margin-top: 90px;
         
    }  
}